@using LightEducationSystem.ViewModels;
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@section CurrentSelectLogin
{
    <span class="sr-only">(current)</span>
}

<link href="Authentication/custom-style.css" rel="stylesheet" />

    <div class="container">
        <div class="row justify-content-center align-items-center my-5 py-5" >
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Login" asp-controller="Home">
                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                            <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Enter Your Email">
                            </div>
                            <div class="form-group">
                                <label asp-for="Password">Password</label>
                            <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

