@using LightEducationSystem.ViewModels;
@model RegisterViewModel
@{
    ViewData["CurrentNavItem"] = "(current)";
}

<style>
   
        body

    {
        background-color: yellow;
        background: linear-gradient(to right, rgba(139, 0, 0, 0.829), rgba(85, 0, 0, 0.7)), url('your-image-url.jpg') no-repeat center center;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }

    .masthead {
        position: relative;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.5;
    }

    .features-icons {
        padding: 7;
    }
    
    .card {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
    }

    .form-control {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        border: none;
    }

        .form-control::placeholder {
            color: lightgray;
        }

    .btn-primary {
        background-color: rgb(255, 217, 0);
        border-color: gold;
    }

        .btn-primary:hover {
            background-color: darkgoldenrod;
            border-color: darkgoldenrod;
        }
</style>

<div class="container">
    <div class="row justify-content-center align-items-center my-5 py-5" >
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Register" asp-controller="Home">
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Enter Your Email">
                        </div>
                        <div class="form-group">
                                <label asp-for="UserName">Username</label>
                                <input asp-for="UserName" type="text" class="form-control" id="username" placeholder="Enter username">
                            </div>
                        <div class="form-group">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
                        </div>

                        @Html.DropDownListFor(model => model.RoleId, @ViewBag.Roles as List<SelectListItem>, "Are you student or professor?", new { @class = "form-control mb-2" })
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
