body {
   background-color: yellow;
    background: linear-gradient(to right, rgba(139, 0, 0, 0.829), rgba(85, 0, 0, 0.7)), url('your-image-url.jpg') no-repeat center center;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.masthead {
    position: relative;
   
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
}

.features-icons {
    padding: 7;

}